/*reset styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.pointer {
  cursor: pointer;
}

/*variables*/
:root {
  --color-header-bg: #333;
  --color-header-text: #fff;
  --color-article-bg: #fff;
  --color-article-bg-hover: #fafafa;
  --color-border: #ccc;
  --color-main-text: #333;
  --color-secondary-text: #999;

  --border-size: 1px;
  --wrapper-padding: 5rem;
}

/*Wrapper*/
.wrapper {
  padding: 0 var(--wrapper-padding);
}

/*Header*/
.header {
  margin: 1rem 0;
  padding: 2rem 0;
  width: 100%;
  min-height: 30vh;
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
}

/*ArticleList*/
.article-list .article:not(:last-child) {
  border-bottom: var(--border-size) solid var(--color-border);
}

/*Article*/
.article {
  width: 100%;
  display: flex;
  min-height: 3rem;
  padding: 1rem;
  background-color: var(--color-article-bg);
}
.article:hover {
  background-color: var(--color-article-bg-hover);
}

.article__title {
  width: 80%;
}

.article__title strong,
.article__time strong {
  color: var(--color-main-text);
}

.article__title span {
  color: var(--color-secondary-text);
}

.article__author::before,
.article__author::after {
  content: " - ";
}

.article__time,
.article__action {
  width: 10%;
  display: flex;
  align-items: center;
}

.article__action {
  justify-content: flex-end;
}

.icon-action {
  width: 1rem;
  height: 1rem;
}
